<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="GestureMinimumDistanceX" value="30"/>
    <add key="GestureMinimumDistanceY" value="30"/>
    <add key="SevenZipSupportFileType" value=".7z;.rar;.lzh"/>
    <add key="ThreadSize" value="2"/>
    <add key="WideRatio" value="1.0"/> 
  </appSettings>
</configuration>
