<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <ThrowUnobservedTaskExceptions enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Libraries" />
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="PackageType" value=".dev" />
    <add key="UseLocalApplicationData" value="False" />
    <add key="LibrariesPath" value="." />
    <add key="Revision" value="12345678" />
    <add key="DateVersion" value="0000" />
  </appSettings>
</configuration>
