<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    
    <!-- マウスジェスチャー判定の最小移動距離 -->
    <add key="GestureMinimumDistanceX" value="30"/>
    <add key="GestureMinimumDistanceY" value="30"/>
    
    <!-- パネルが自動的に消えるまでの時間(秒）-->
    <add key="PanelHideDelayTime" value="1.0"/>
    
    <!-- 7z.dllで展開する圧縮ファイルの拡張子 -->
    <add key="SevenZipSupportFileType" value=".7z;.rar;.lzh"/>
    
    <!-- 画像読み込みに使用するスレッド数 -->
    <add key="ThreadSize" value="2"/>
    
    <!-- 横長画像を判定するための縦横比(横/縦)。「横長ページを分割する」で使用されます -->
    <add key="WideRatio" value="1.0"/> 

</appSettings>
</configuration>
