body {
    margin: 5%;
    font-family: sans-serif;
    background-color: white;
}

h1 {
    font-family: "Trebuchet MS", Trebuchet, Verdana, sans-serif;
    text-align: center;
    background-color: #002244;
    font-size: 2.0em;
    color: #ffffff;
    margin: 40px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 800px;
}

h1.sub
{
    margin-top: 60px;
}

h2 {
    color: #444444;
    margin-top: 40px;
    padding-top: 2px;
    padding-left: 10px;
    border-left: 8px solid #444444;
}

h3 {
    color: #444444;
    margin-top: 40px;
    padding-top: 2px;
    padding-left: 10px;
    border-left: 8px solid #AAAAAA;
}

p {
    text-align: left;
}

pre {
    font-family: auto;
}

code {
    background-color: #EEEEEE;
    padding: 0px 10px;
    display: block;
    border: 1px solid #CCC;
    font-family: Consolas, sans-serif;
}

code.inline {
    background-color: #EEEEEE;
    font-family: Consolas, sans-serif;
}

code.example {
    padding: 15px 60px;
}

blockquote {
    position: relative;
    padding: 5px 20px;
    box-sizing: border-box;
    background: #efefef;
    color: #555;
}

hr {
    margin: 50px 0px;
}

.table-normal {
    width: 100%;
    margin: 20px 0 30px;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-spacing: 0;
}

.table-normal th {
    background: #EEE;
}

.table-normal th, .table-normal td {
    font-size: 14px;
    font-family: Consolas;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 7px;
}

.table-none {
    border-collapse: collapse;
    margin: 20px 0 30px;
}

.table-none td, .table-none th {
    text-align: left;
    padding: 10px 20px;
}

.table-slim {
    border-collapse: collapse;
    margin: 20px 0 30px;
}

.table-slim tr {
    border-bottom: 1px solid #CCC;
}

.table-slim tr:nth-child(1) {
    border-top: 1px solid #CCC;
}

.table-slim td, .table-slim th {
    text-align: left;
    padding: 10px 20px;
}

.table-topless tr:nth-child(1) {
    border-top: 0px;
}
