<?xml version="1.0" encoding="UTF-8"?>
<?if $(var.Platform) = x86 ?>
  <?define ProductName = "NeeViewS $(var.ProductVersion)" ?>
  <?define ExeName = "NeeViewS" ?>
  <?define Bits = "32bit" ?>
  <?define UpgradeCode = "1615bc9c-ddfd-4d61-9ac1-3ebc5c8787a8" ?>
<?else ?>
  <?define ProductName = "NeeView $(var.ProductVersion)" ?>
  <?define ExeName = "NeeView" ?>
  <?define Bits = "all" ?>
  <?define UpgradeCode = "7F34322B-8DED-42BC-AA14-A57C4BD77457" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
         xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="$(var.ProductName)" Version="$(var.BuildVersion)" Language="1041" Codepage="932" Manufacturer="NeeLaboratory" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" SummaryCodepage="932" Comments="$(var.ExeName) is picture viewer."/>

    <MajorUpgrade DowngradeErrorMessage="新しいバージョンの $(var.ExeName) が既にインストール済です。" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>

    <Feature Id="ProductFeature" Title="$(var.ExeName)" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="DllComponents"/>
    </Feature>

    <!-- インストーラーUI設定 -->
    <!--
    <WixVariable Id="WixUIBannerBmp" Value="Resources\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources\dlgbmp.bmp" />
    -->

    <UIRef Id="WixUI_InstallDirEx"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <!-- アドバタイズショートカットを無効にする -->
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

    <!-- コントロールパネルに表示されるアプリアイコン -->
    <Property Id='ARPPRODUCTICON'>MyIcon.exe</Property>

    <!-- 条件: .Net version -->
    <!--
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED"/>
    <Condition Message='このセットアップを実行するためには、.NET Framework 4.6.2以降 がインストールされている必要があります。'>
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED]]>
    </Condition>
    -->

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="PFCompanyFolder" Name="NeeLaboratory">
          <Directory Id="INSTALLFOLDER" Name="$(var.ExeName)" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Guid="*">
        <File Source="$(var.ContentDir)$(var.ExeName).exe" KeyPath="yes" Checksum="yes" >
          <netfx:NativeImage Id="ngen_$(var.ExeName).exe" Platform="$(var.Bits)" Priority="0"/>
          <Shortcut Id="MyMenuShortcut" Directory="ProgramMenuFolder" Name="$(var.ExeName)" WorkingDirectory="INSTALLDIR" Icon="MyIcon.exe" Advertise="yes"/>
        </File>
      </Component>
      <Component>
        <File Source="$(var.AppendDir)$(var.ExeName).exe.config" KeyPath="yes" />
      </Component>
      <Component>
        <File Source="$(var.ContentDir)README.html" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <!-- アイコン -->
    <Icon Id="MyIcon.exe" SourceFile="$(var.ContentDir)$(var.ExeName).exe" />

  </Fragment>
</Wix>