<?xml version="1.0" encoding="UTF-8"?>

<?define ProductName = "NeeView $(var.ProductVersion)" ?>
<?define ExeName = "NeeView" ?>
<?define Bits = "all" ?>
<?define UpgradeCode = "1615bc9c-ddfd-4d61-9ac1-3ebc5c8787a8" ?>

<?if $(var.culture) = "ja-jp" ?>
  <?define codepage = "932" ?>
<?else?>
  <?define codepage = "1252" ?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
         xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="$(var.ProductName)" Version="$(var.BuildVersion)" Language="!(loc.language)" Codepage="$(var.codepage)" Manufacturer="NeeLaboratory" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" SummaryCodepage="$(var.codepage)" Comments="$(var.ExeName) is picture viewer."/>

    <MajorUpgrade DowngradeErrorMessage="!(loc.downgradeErrorMessage)" />

    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>

    <Feature Id="ProductFeature" Title="NeeView System" Level="1" AllowAdvertise="no" Absent="disallow" Display="expand" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="DllComponents"/>
      <ComponentRef Id="AppStartMenuDirComponent" />
      <Feature Id="NeeViewFeature" Title="NeeView" Description="!(loc.neeViewFeatureDescription)"
          Level="1" AllowAdvertise="no">
        <ComponentGroupRef Id="NeeViewComponents" />
      </Feature>
      <Feature Id="NeeViewSFeature" Title="NeeViewS" Description="!(loc.neeViewSFeatureDescription)"
          Level="1000" AllowAdvertise="no" >
        <ComponentGroupRef Id="NeeViewSComponents" />
      </Feature>
    </Feature>

    <!-- UI -->
    <UIRef Id="WixUI_MondoEx" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <!-- Disable advertise shortcuts -->
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

    <!-- The application icon displayed on the control panel -->
    <Property Id='ARPPRODUCTICON'>Icon_NeeView.exe</Property>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="PFCompanyFolder" Name="NeeLaboratory">
          <Directory Id="INSTALLFOLDER" Name="$(var.ExeName)" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="AppStartMenuDir" Name="$(var.ExeName)">
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Guid="*">
        <File Source="$(var.ContentDir)README.html" KeyPath="yes"/>
      </Component>
      <Component>
        <File Source="$(var.ContentDir)README.ja-jp.html" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="NeeViewComponents" Directory="INSTALLFOLDER">
      <Component Guid="*">
        <File Source="$(var.ContentDir)NeeView.exe" KeyPath="yes" Checksum="yes" >
          <netfx:NativeImage Id="ngen_NeeView.exe" Platform="all" Priority="0"/>
          <Shortcut Id="MyMenuShortcut" Directory="AppStartMenuDir" Name="NeeView" WorkingDirectory="INSTALLFOLDER" Icon="Icon_NeeView.exe" Advertise="yes"/>
        </File>
      </Component>
      <Component>
        <File Source="$(var.AppendDir)NeeView.exe.config" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="NeeViewSComponents" Directory="INSTALLFOLDER">
      <Component Guid="*">
        <File Source="$(var.ContentDir)NeeViewS.exe" KeyPath="yes" Checksum="yes" >
          <netfx:NativeImage Id="ngen_NeeViewS.exe" Platform="32bit" Priority="0"/>
          <Shortcut Id="MyMenuShortcutS" Directory="AppStartMenuDir" Name="NeeViewS" WorkingDirectory="INSTALLFOLDER" Icon="Icon_NeeViewS.exe" Advertise="yes"/>
        </File>
      </Component>
      <Component>
        <File Source="$(var.AppendDir)NeeViewS.exe.config" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <!-- icon -->
    <Icon Id="Icon_NeeView.exe" SourceFile="$(var.ContentDir)NeeView.exe" />
    <Icon Id="Icon_NeeViewS.exe" SourceFile="$(var.ContentDir)NeeViewS.exe" />


    <!-- startmenu dir -->
    <DirectoryRef Id="AppStartMenuDir">
      <Component Id="AppStartMenuDirComponent" Guid="*">
        <RegistryValue Root="HKCU" Key="Software\NeeLaboratory\NeeView" Name="InstalledStartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
        <RemoveFolder Id="AppStartMenuDir" On="uninstall" />
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>