<?xml version="1.0" encoding="UTF-8"?>

<?define Bits = "all" ?>

<?if $(var.Platform) = "x86" ?>
  <?define ProductName = "NeeView $(var.ProductVersion) (x86)" ?>
  <?define UpgradeCode = "1615bc9c-ddfd-4d61-9ac1-3ebc5c8787a8" ?>
  <?define SystemDir = "SystemFolder" ?>
  <?define ProgramFilesDir = "ProgramFilesFolder" ?>
  <?define Win64 = "no" ?>
  <?define IdentName = "NeeViewX86" ?>
  <?define ExeName = "NeeView (x86)" ?>
<?elseif $(var.Platform) = "x64" ?>
  <?define ProductName = "NeeView $(var.ProductVersion)" ?>
  <?define UpgradeCode = "6db6317b-b2a3-42b3-aa6e-102b0d7bb0dc" ?>
  <?define SystemDir = "System64Folder" ?>
  <?define ProgramFilesDir = "ProgramFiles64Folder" ?>
  <?define IdentName = "NeeViewX64" ?>
  <?define ExeName = "NeeView" ?>
  <?define Win64 = "yes" ?>
<?endif ?>

<?if $(var.culture) = "ja-jp" ?>
  <?define codepage = "932" ?>
<?else?>
  <?define codepage = "1252" ?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
         xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="$(var.ProductName)" Version="$(var.BuildVersion)" Language="!(loc.language)" Codepage="$(var.codepage)" Manufacturer="NeeLaboratory" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" SummaryCodepage="$(var.codepage)" Comments="NeeView is picture viewer." Platform="$(var.Platform)"/>

    <MajorUpgrade DowngradeErrorMessage="!(loc.downgradeErrorMessage)" />

    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>

    <Feature Id="ProductFeature" Title="NeeView" Level="1" AllowAdvertise="no" Absent="disallow" Display="expand" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="NeeViewComponents" />
      <ComponentGroupRef Id="DllComponents"/>
      <ComponentGroupRef Id="DocumentComponents" />
      <ComponentGroupRef Id="ScriptsComponents" />
      <ComponentGroupRef Id="ThemesComponents" />
      <Feature Id="ContextMenuFeature" Title="ContextMenu" Description="!(loc.contextMenuFeatureDescription)" Level="1" AllowAdvertise="no" >
        <ComponentGroupRef Id="RegistoryComponents" />
      </Feature>
    </Feature>

    <Property Id="INSTALLFOLDER">
      <RegistrySearch Id='InstallDirRegistry' Type='raw' Root='HKLM' Key='SOFTWARE\NeeLaboratory\NeeView' Name='InstallDir'/>
    </Property>

    <!-- UI -->
    <UIRef Id="WixUI_MondoEx" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <!-- Disable advertise shortcuts -->
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

    <!-- The application icon displayed on the control panel -->
    <Property Id='ARPPRODUCTICON'>App.ico</Property>

    <InstallExecuteSequence>
      <RemoveShortcuts>Installed AND NOT UPGRADINGPRODUCTCODE</RemoveShortcuts>
    </InstallExecuteSequence>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFilesDir)">
        <Directory Id="PFCompanyFolder" Name="NeeLaboratory">
          <Directory Id="INSTALLFOLDER" Name="NeeView">
            <Directory Id="ScriptsFolder" Name="Scripts"/>
            <Directory Id="ThemesFolder" Name="Themes"/>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>

    <ComponentGroup Id="NeeViewComponents" Directory="INSTALLFOLDER">
      <Component Guid="*">
        <File Source="$(var.ContentDir)NeeView.exe" KeyPath="yes" Checksum="yes" >
          <Shortcut Id="MyMenuShortcut" Directory="ProgramMenuFolder" Name="$(var.ExeName)" WorkingDirectory="INSTALLFOLDER" Advertise="yes"/>
        </File>
      </Component>
      <Component>
        <File Source="$(var.AppendDir)NeeView.exe.config" KeyPath="yes" />
      </Component>
      <Component>
        <RegistryValue Root="HKLM" Key="SOFTWARE\NeeLaboratory\NeeView" Name="InstallDir" Type="string" Value="[INSTALLFOLDER]" KeyPath="yes"/>
     </Component>
    </ComponentGroup>

    <ComponentGroup Id="DocumentComponents" Directory="INSTALLFOLDER">
      <Component Guid="*">
        <File Source="$(var.ContentDir)README.html" KeyPath="yes"/>
      </Component>
      <Component>
        <File Source="$(var.ContentDir)README.ja-jp.html" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ScriptsComponents" Directory="ScriptsFolder">
      <Component Guid="*">
        <File Source="$(var.ContentDir)Scripts\Sample.nvjs" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ThemesComponents" Directory="ThemesFolder">
      <Component Guid="*">
        <File Source="$(var.ContentDir)Themes\DarkTheme.json" KeyPath="yes"/>
      </Component>
      <Component>
        <File Source="$(var.ContentDir)Themes\LightTheme.json" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="RegistoryComponents" Directory="INSTALLFOLDER">
      <Component>
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\*\shell\OpenIn$(var.IdentName)" Type="string" Value="!(loc.openInNeeView)" KeyPath="yes"/>
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\*\shell\OpenIn$(var.IdentName)" Name="Icon" Type="string" Value="&quot;[INSTALLFOLDER]\NeeView.exe&quot;,0"/>
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\*\shell\OpenIn$(var.IdentName)\command" Type="string" Value="&quot;[INSTALLFOLDER]\NeeView.exe&quot; &quot;%1&quot;"/>
      </Component>
      <Component>
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Directory\shell\OpenIn$(var.IdentName)" Type="string" Value="!(loc.openInNeeView)" KeyPath="yes"/>
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Directory\shell\OpenIn$(var.IdentName)" Name="Icon" Type="string" Value="&quot;[INSTALLFOLDER]\NeeView.exe&quot;,0"/>
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Directory\shell\OpenIn$(var.IdentName)\command" Type="string" Value="&quot;[INSTALLFOLDER]\NeeView.exe&quot; &quot;%1&quot;"/>
      </Component>
      <Component>
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Directory\Background\shell\OpenIn$(var.IdentName)" Type="string" Value="!(loc.openInNeeView)" KeyPath="yes"/>
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Directory\Background\shell\OpenIn$(var.IdentName)" Name="Icon" Type="string" Value="&quot;[INSTALLFOLDER]\NeeView.exe&quot;,0"/>
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Directory\Background\shell\OpenIn$(var.IdentName)\command" Type="string" Value="&quot;[INSTALLFOLDER]\NeeView.exe&quot; &quot;%V&quot;"/>
      </Component>
    </ComponentGroup>

    <!-- icon -->
    <Icon Id="App.ico" SourceFile="$(var.AppendDir)App.ico" />

  </Fragment>
</Wix>